---
---

@import "bourbon";
@import "neat";
@import "base";

$medium-up: (
  media: "(min-width: 600px)",
);

$large-up: (
  media: "(min-width: 900px)",
);

.page-header {
  @include grid-container;

  background-color: $blue;
  color: white;
  line-height: 72px;

  &__title {
    @include grid-column(12);

    margin-bottom: 0;
    font-size: 48px;
    font-weight: normal;
    line-height: inherit;

    @include grid-media($medium-up) {
      @include grid-column(7);
    }
  }

  &__link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  &__navigation {
    display: none;
    @include grid-media($medium-up) {
      display: inherit;
      @include grid-column(5);
      text-align: right;
    }
  }

  &__navigation-item {
    font-size: 24px;
    line-height: inherit;
    display: inline;

    &:after {
      content: " |";
    }

    &:last-child:after {
      content: "";
    }
  }
}

.page-content {

  width: 90%;
  margin: 0 5%;
  
  @media screen and (min-width: 900px) {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

   hr {
    margin: 0 20% 55px;
    padding: 19px 0;
    line-height: 38px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    color: inherit;
    background-color: inherit;

    &:before {
      content: "\25C6";
      display: inline-block;
      float: left;
      position: relative;
      left: -8px;
      margin: 0 50%;
      padding: 0 4px;
      background-color: inherit;
      cursor: default;
    }
  }
}

.full-post {
  
  &__title {
    font-size: 48px;
    font-weight: normal;
  }

  &__external-link:after {
    content: url(/images/glyphicons_050_link.png);
    margin-left: 5px;
  }
}

.micro-post {
  margin: 1em 5%;
  padding: 1em;
  border: 1px solid $medium-gray;

  &__footer {
    font-size: 0.75em;
    text-align: right;
  }
}

.post-page {
  &__title {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 0;
  }

  &__external-link:after {
    content: url(/images/glyphicons_050_link.png);
    margin-left: 5px;
  }

  &__timestamp {
    font-size: 0.9em;
    color: $medium-gray;
    margin-left: 0.5em;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  width: 90%;
  margin: $small-spacing 5% 0 5%;

  &__xml-img {
    float: right;
    margin-top: 5px;
  }

  &__json-img {
    float: right;
    height: 30px;
    margin-right: 1em;
  }
}