---
layout: default
---
{% for post in paginator.posts %}
  {% if post.layout == "micro" %}
  {% include micro-post.html %}
  {% else %}
  {% include full-post.html %}
  {% endif %}
  {% unless forloop.last or post.layout == "micro" %}<hr>{% endunless %}
{% endfor %}
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
  <a href="/">&larr; Newer Posts</a>
    {% else %}
  <a href="/page{{ paginator.previous_page }}/">&larr; Newer Posts</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %} <a href="/page{{ paginator.next_page }}/">Older Posts &rarr;</a> {% endif %}
</nav>
{% include disqus-count.html %}