---
layout: default
---
{% for post in paginator.posts %}
<article>
  <header>
  {% if post.link %}
    <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p>Posted on <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%A, %B %d, %Y" }}</time> <a href="{{ post.url }}">∞</a></p>
  </header>
  {% if post.excerpt %}
    {{ post.excerpt }}
    <p><a href="{{ post.url }}#more">Continue Reading &rarr;</a></p>
  {% else %}
    {{ post.content | mark_excerpt }}
  {% endif %}
  </article>
  {% unless forloop.last %}<hr>{% endunless %}
{% endfor %}
<ul class="pager">
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <li class="previous"><a href="/">&larr; Newer</a></li>
  {% else %}
    <li class="previous"><a href="/page{{ paginator.previous_page }}/">&larr; Newer</a></li>
  {% endif %}
{% else %}
  <li class="previous disabled"><a>&larr; Newer</a></li>
{% endif %}
{% if paginator.next_page %}
  <li class="next"><a href="/page{{ paginator.next_page }}/">Older &rarr;</a></li>
{% else %}
  <li class="next disabled"><a>Older &rarr;<a></li>
{% endif %}
</ul>