<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | escape }}{% if page.title %}: {{ page.title | escape }}{% endif %}</title>

  <link rel="alternate" type="application/rss+xml" title="RSS (everything)" href="{{ site.url }}/rss.xml">
  <link rel="alternate" type="application/rss+xml" title="RSS (microblog)" href="{{ site.url }}/snippets.xml">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link href="/css/normalize.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link rel="me" href="https://twitter.com/tedchoward">
  <link rel="me" href="https://github.com/tedchoward">
  <link rel="me" href="https://micro.blog/ted">
  {% include google-analytics.html %}
</head>