/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography";

$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

body {
  //font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-family: Georgia, serif;
  color: #222;
}


h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }
h1 { @include adjust-font-size-to(48px); }
h2 { @include adjust-font-size-to(32px); }

a { @include hover-link; }

p {
  @include trailer(0.5);
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  color: #666;
}

blockquote:before, blockquote:after {
  display: block;
  height: 38px;
  overflow: hidden;
  @include adjust-font-size-to(72px);
}

blockquote:before {
  content: "\201C";
  margin-left: -32px;
  margin-bottom: -40px;
  line-height: 64px;
}

blockquote:after {
  content: "\201D";
  float: right;
  margin-top: -60px;
  margin-right: -32px;
  padding-left: 10px;
  margin-left: 100%;
}

strong { font-weight: bold; }
em { font-style: italic; }
sup { vertical-align: super; font-size: smaller; }

abbr { border-bottom: 1px dotted #666; }

ul, ol { padding-left: 1.5em; }
ol { list-style-type: decimal; }
ul { list-style-type: disc; }

body>header {
  @include clearfix;
  background-color: blue;
  color: white;
  padding-left: 5%;
}

body>header>h1 {
  color: #fff;
  @include float-left;
}

body>header a {
  //text-decoration: none;
  //color: white;
  @include unstyled-link;
}

body>header>nav {
  display: none;
}

body>header>nav ul {
  //@include horizontal-list;
  //@include inline-list;
  @include delimited-list(' |');
  font-size: 24px;
  line-height: 72px;
}

body>article, body>section {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  @include trailing-border;
}

section>article {
  @include trailer;
}

section>hr {
  margin: 0 20% 55px;
  padding: 19px 0;
  line-height: 38px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  color: inherit;
  background-color: inherit;
  &:before {
    content: "\25C6";
    display: inline-block;
    float: left;
    position: relative;
    left: -8px;
    margin: 0 50%;
    padding: 0 4px;
    background-color: inherit;
    cursor: default;
  }

}

section>nav>a {
  &:last-of-type {
    @include float-right;
  }
  &:first-of-type {
    @include float-left;
  }
}

article h2 {
  @include leader(0.5);
}

article>header>p {
  @include rhythm;
  color: #666;
}

article>header {
  @include trailer(0.5);
}

article>header>h2>a:after {
  @include content(image-url("glyphicons_050_link.png"));
  margin-left: 5px;
}

article>p:last-child {
  @include rhythm;
}

body>footer {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

body>footer img {
  float: right;
  margin-top: 5px;
}

@media only screen and (min-width: 481px) {
  body>header {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 533px) {
  body>header>nav {
    @include float-right;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 721px) {
  body>article, body>section {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  body>footer {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

