<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <title>{{ site.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml">
    <!--<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic,400' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12730253-4']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header>
      <hgroup>
        <h1><a href="index.html">{{ site.title }}</a></h1>
        <h2>by Ted C. Howard</h2>
      </hgroup>
    <nav>
      <ul>
        <li><a href="archive.html">Archive</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="colophon.html">Colophon</a></li>
        <!--<li><a href="rss.xml">RSS Feed</a></li>-->
      </ul>
    </nav>
    </header>
    <section>
      <section>
        {{ content }}
      </section>
      <aside>
        <h3>About Ted C. Howard</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </aside>
    </section>
  </body>
</html>
