<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml">
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/post.css" type="text/css" media="screen">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12730253-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <article>
      <header>
        {% if page.link %}
        <h2><a href="{{ page.link }}">{{ page.title }}</a></h2>
        {% else %}
        <h1>{{ page.title }}</h1>
        <p>Posted on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%A, %B %d, %Y" }}</time></p>
        {% endif %}
      </header>
    {{ content }}
    </article>
    <nav>
      <a href="{{ page.previous.url }}">&lt;&lt; {{ page.previous.title }}</a>
      <a href="{{ page.next.url }}">{{ page.next.title }} &gt;&gt;</a>
    </nav>
  </body>
</html>
